<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo3.module.mapper.GunMapper">
<!--    <insert id="insert" parameterType="com.example.demo3.module.entity.Gun">-->
<!--        insert into gun (-->
<!--        <if test="gun.title != null and gun.title != ''" >title,</if>-->
<!--        <if test="gun.author != null and gun.author != ''" >author,</if>-->
<!--        <if test="gun.images != null and gun.images != ''" >images,</if>-->
<!--        <if test="gun.content != null and gun.content != ''" >content,</if>-->
<!--        <if test="gun.createTime != null" >create_time,</if>-->
<!--        <if test="gun.updateTime != null" >update_time,</if>-->
<!--        is_deleted)-->
<!--        values (-->
<!--        <if test="gun.title != null and gun.title !=''" >#{gun.title},</if>-->
<!--        <if test="gun.author != null and gun.author != ''" >#{gun.author},</if>-->
<!--        <if test="gun.images != null and gun.images != ''" >#{gun.images},</if>-->
<!--        <if test="gun.content != null and gun.content != ''" >#{gun.content},</if>-->
<!--        <if test="gun.createTime != null" >#{gun.createTime},</if>-->
<!--        <if test="gun.updateTime != null" >#{gun.updateTime},</if>-->
<!--        #{gun.isDeleted})-->
<!--    </insert>-->
<!--    <update id="update" parameterType="com.example.demo3.module.entity.Gun">-->
<!--        update gun-->
<!--        <set> id = #{gun.gunId}-->
<!--            <if test="gun.title != null and gun.title !=''">,title = #{gun.title}</if>-->
<!--            <if test="gun.author != null and gun.author != ''" >,author = #{gun.author}</if>-->
<!--            <if test="gun.images != null and gun.images != ''" >,images = #{gun.images}</if>-->
<!--            <if test="gun.content != null and gun.content != ''">,content = #{gun.content}</if>-->
<!--            <if test="gun.updateTime != null" >,update_time = #{gun.updateTime}</if>-->
<!--        </set>-->
<!--        where id = #{gun.id}-->
<!--    </update>-->
    <select id="getInfoPage" parameterType="com.example.demo3.module.entity.Gun" resultType="com.example.demo3.module.entity.Gun">
        select * FROM gun
        <where>
            is_deleted=0
            <if test="gunName != null and gunName != ''" >
                and title like concat('%',#{gunName},'%')
            </if>
        </where>
        order by id asc
        limit #{start},#{pageSize}

    </select>
</mapper>